*.filters
*.iml
*.log
*.o
*.so
*.user
.DS_Store
.vs/
android/.gradle/
android/.idea/
android/app/.cxx/
android/app/build/
android/app/libs/
android/app/src/main/res/drawable/
android/app/src/main/res/mipmap*/
android/app/src/main/res/xml/
android/app/.gitignore
android/app/proguard-rules.pro
android/gradle/
android/.gitignore
android/build.gradle.kts
android/gradle.properties
android/gradlew
android/gradlew.bat
android/local.properties
build/
Example*.java
prelog
Win32/
x64/
xcuserdata/
